body {
    font-family: 'Quicksand', sans-serif;
    background-color: #adebeb;
}

button {
    width: 25%;
    height: 25px;
    margin: 5px auto;
    cursor: pointer;
    border-style: none;
    background-color: white;
    border: 1px solid #ccc;
}

.wrapper {
    margin: 0 auto;
    padding: 0 auto;
}

.container {
    width: 400px;
    height: 300px;
    border: 1px solid #eee;
    padding: 10px;
    margin-top: 200px;
    box-sizing: border-box;
    box-shadow: 0 5px 5px #5bd7d7;
    background-color: white;
}

.title {
    height: 15%;
    width: 100%;
}

.signup {
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-area {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.input {
    height: 25px;
    width: 60%;
    margin: 10px auto;
}

#email i {
    margin-right: 20px;
}